* {
    padding: 5;
    margin: 5;
    box-sizing: border-box;
}

:root {
    --color1: #E6E6FA;
    --color2: #111;
    --font-sans: sans-serif;
    --color2: #f7f7f7;
    --color3: #4caf50;
    --color4: #FFE5B4;
    --color5: #FFF0F5;
    --color6: #ddd;
    --color7: #aaa;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color5);
    font-family: var(--font-sans);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background-color: var(--color1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 35px;
    text-align: center;
}

#productForm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#productForm input, #productForm button {
    padding: 15px;
    border: 5px solid var(--color6);
    border-radius: 8px;
}

#productForm button {
    background-color: var(--color3);
    color: var(--color6);
    cursor: pointer;
}

#productForm input::placeholder {
    color: var(--color7);
}

#productForm input:focus {
    outline: none;
    border-color: var(--color3);
}

#productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productCard {
    background-color: var(--color4);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}
.productCard img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}